<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="css/tiny-slider.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <title>Trend Setter</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js">
  </script>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>

  <body>
    <style>
      /*zooming*/
      * {
        box-sizing: border-box;
      }

      .img-zoom-container {
        position: relative;
      }

      .img-zoom-lens {
        position: absolute;
        visibility: hidden;
        border: 1px solid #d4d4d4;

        /*set the size of the lens:*/
        width: 100px;
        height: 100px;
      }
      .img-container:hover .img-zoom-result {
        display: block;
        transition: opacity 0.3s ease;
      }
      .img-container .img-zoom-result {
        border: 1px solid #d4d4d4;
        /*set the size of the result div:*/
        width: 500px;
        height: 300px;
        /* Add other styling properties as needed */
        border-radius: 10x;
      }
      .img-container:hover {
        cursor: zoom-in;
      }
      .position-static {
        height: 500px;
        width: 100%;
        background-color: black;
        color: white;
      }
      .cart-container {
        position: relative;
        display: inline-block;
      }

      /* Style for the image */
      .cart-image {
        display: block;
      }

      /* Style for the badge */
      .badge {
        position: absolute;
        top: -12px; /* Adjust this value as needed */
        left: 50%;
        transform: translateX(-50%);
      }
      .dropdown-item{
        color: white;
        font-size: large;
      }
    </style>
    <!-- Start Header/Navigation -->
    <nav
      class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark"
      arial-label="Furni navigation bar"
    >
      <div class="container">
        <a class="navbar-brand" href="index.html">Trend Setter<span>.</span></a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsFurni"
          aria-controls="navbarsFurni"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
          <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li><a class="nav-link" href="/allProduct">Products</a></li>
          </ul>

          <div class="nav-item dropdown ms-auto mb-2 mb-md-0">
            <li>
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                style="color: white;font-size: large;"
                ><img src="images/user.svg" />
                <% if (isLoggedIn) { %>
                <!-- Content to show when the user is logged in -->
                <samp><%= isLoggedIn.name %></samp>
                <!-- Other content for logged-in users -->
                <% } else { %> Sign In <% } %></a
              >
              <div class="dropdown-menu bg-transparent border-0 " >
                <a href="/userDetails" class="dropdown-item ">Your Account</a>
                <a href="/orders" class="dropdown-item">Your Order</a>
                <a href="/wishlist" class="dropdown-item">Wish List</a>
                <a href="/users" class="dropdown-item">Register</a>
                <% if (isLoggedIn){ %>
                <a href="/logout" class="dropdown-item">Logout</a>
                <%} else { %>
                <a href="/login" class="dropdown-item">Login</a>
                <% } %>
              </div>
            </li>
          </div>
          <li>
            <a class="nav-link" href="/cart">
              <img src="images/cart.svg">
              <span class="badge badge-light" id="cart-count"><%= count %></span>
            </a>
          </li>
        </div>
      </div>

    </nav>