<%- include('../layouts/user/header.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="borderNav">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            
          </div>
        </div>
        <div class="col-lg-7"></div>
      </div>
    </div>
  </div>
<%- include('../partials/breadcrumbs.ejs')  %>

<!-- Form Start -->
<div class="container-fluid pt-4 px-4 m-5">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6 col-lg-10">
            <div class="bg-light rounded h-100 p-4">
                <h4 class="mb-4">Change Password</h4>
                <form action="/changePassword" method="post" >
                    <% if (message) { %>
                        <div class="alert alert-info"><%= message %></div>
                    <% } %>
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
                        <input type="checkbox" onclick="togglePassword('currentPassword')"> Show Password
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                        <input type="checkbox" onclick="togglePassword('newPassword')"> Show Password
                    </div>
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                        <input type="checkbox" onclick="togglePassword('confirmPassword')"> Show Password
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function togglePassword(fieldId) {
        var field = document.getElementById(fieldId);
        if (field.type === "password") {
            field.type = "text";
        } else {
            field.type = "password";
        }
    }
</script>
<%- include('../layouts/user/footer.ejs') %>
